<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>736018382077-2d91cg3i1l882ql4i35qfo63cbfdbtdc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.736018382077-2d91cg3i1l882ql4i35qfo63cbfdbtdc</string>
	<key>API_KEY</key>
	<string>AIzaSyCYvdbzVsaKu9YIOcLvnpVQThP_Qn1_fiM</string>
	<key>GCM_SENDER_ID</key>
	<string>736018382077</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.counterFirebase</string>
	<key>PROJECT_ID</key>
	<string>wadachi-d93da</string>
	<key>STORAGE_BUCKET</key>
	<string>wadachi-d93da.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:736018382077:ios:18744d7e8da6b8176dd294</string>
</dict>
</plist>